# Data
data/
data/raw/
data/processed/
*.csv

# Models
*.pkl

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Virtual environment
venv/

# OS
.DS_Store


*.csv
notebooks/walmart_demand_model.pkl
notebooks/store_history.csv

Walmart_Project_backup/
